@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

@media screen and (max-width: 600px) and (min-width: 400px) {
    body{
        background-color: #f7cdd0;
        overflow: hidden;
    }
    
    #team {
        background-color: #27a411;
        font-size: 1.2em;
        border: none;
        border-radius: 5em;
        padding: 0.5em 1em;
        cursor: pointer;
        position: absolute;
        top: 5%;
        left: 65%;
    }
    
    #team a{
        color: white;
        font-family: 'Lalezar', system-ui;
        text-decoration: none;
    }
    
    #lang {
        background-color: #27a411;
        border: none;
        border-radius: 5em;
        width: 4em;
        cursor: pointer;
        position: absolute;
        top: 5%;
        left: 50%;
    }
    
    #lang img{
        width: 3.5em;
        margin-left: -0.23em;
    }
    
    .logo img{
        width: 20em;
        position: absolute;
        top: 20%;
        margin-left: 3em;
    }
    
    #vidguide{
        width: 15em;
        background-color: #27a411;
        font-size: 1.2em;
        border: none;
        border-radius: 5em;
        padding: 0.5em 1em;
        cursor: pointer;
        position: absolute;
        top: 60%;
        left: 16.5%;
    }
    
    #vidguide a{
        color: white;
        font-family: 'Lalezar', system-ui;
        text-decoration: none;
    }
    
    #continue{
        width: 15em;
        background-color: #27a411;
        font-size: 1.2em;
        border: none;
        border-radius: 5em;
        padding: 0.5em 1em;
        cursor: pointer;
        position: absolute;
        top: 70%;
        left: 16.5%;
    }
    
    #continue a{
        color: white;
        font-family: 'Lalezar', system-ui;
        text-decoration: none;
    }

    #vgb{
        background-color: white;
    }

    #head {
        width: 100%;
        height: 5em;
        background-color: #f7cdd0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }

    .head img{
        width: 4em;
        position: absolute;
        top: 0.7em;
        left: 2em;
    }

    .head h1{
        color: white;
        font-family: 'Lalezar', system-ui;
        font-size: 3em;
        position: absolute;
        top: -0.6em;
        left: 2.3em;
    }

    #lang2 {
        background-color: #27a411;
        border: none;
        border-radius: 5em;
        width: 4em;
        cursor: pointer;
        position: absolute;
        top: 1em;
        left: 25em;
    }
    
    #lang2 img{
        width: 3.5em;
        margin-left: -0.23em;
    }

    #guide{
        width: 100vw;
        height: 80vh;
        position: absolute;
        top: 5.8em;
        left: 0;
        object-fit: contain;
    }

    #footer{
        width: 100%;
        height: 5em;
        background-color: #f7cdd0;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    #continue2{
        width: 15em;
        background-color: #27a411;
        font-size: 1.2em;
        border: none;
        border-radius: 5em;
        padding: 0.5em 1em;
        cursor: pointer;
        position: absolute;
        top: 20%;
        left: 16.5%;
    }
    
    #continue2 a{
        color: white;
        font-family: 'Lalezar', system-ui;
        text-decoration: none;
    }
    
    #team:hover, #team:active, #lang:hover, #lang:active, #vidguide:hover, #vidguide:active, #continue:hover, #lang2:hover, #lang2:active, #continue2:hover, #continue2:active {
        background-color: #37123c;
    }
}