@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

body{
    background-color: #f7cdd0;
    overflow: hidden;
}

#team {
    background-color: #27a411;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    border: none;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    cursor: pointer;
    top: 5%;
    left: 65%;
    transition: background-color 0.3s ease;
}

#team:hover {
    background-color: #1c7e07;
}
